$table-border-color: darken(#fff, 5%);
$tr-odd-bg-color: $table-bg-accent;
$tr-hover-bg-color: darken(#fff, 10%);
$tr-odd-hover-bg-color: darken($tr-odd-bg-color, 6%);

#result_list {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;

  thead {
    > tr {
      th {
        box-shadow: inset 1px 0 0 rgba(255, 255, 255, .2);
        font-weight: normal;
        background-color: $inverse-lightest;
        color: $gray-lighter;
        position: relative;
        line-height: normal;
        &.action-checkbox-column {
          width: 2rem;
        }
        &.sorted {
          background-color: $inverse-lighter;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 3px;
            background-color: $link-color-brighter;
          }
        }
        .sortoptions {
          float: right;
          font-size: $font-size-xs;
          margin: .1rem .3rem 0 0;
          .sortpriority, .sortremove, .toggle {
            display: block;
            float: right;
            padding: .2rem;
          }
          .sortremove, .toggle {
            &:hover {
              text-decoration: none;
              &:before {
                color: $link-color-brighter;
              }
            }
            &:before {
              @include fa-icon-font();
            }
          }
          .sortremove:before {
            content: $icon-remove;
          }
          .toggle.ascending:before {
            content: $icon-chevron-up;
          }
          .toggle.descending:before {
            content: $icon-chevron-down;
          }
        }
        div.text {
          span, a {
            display: block
          }
        }
        a {
          color: $gray-lighter;
          display: block;
        }
      }
    }
  }
}
