.table {
  background-color: #fff;

  &.table-striped {
    
  }

  th {
    font-weight: 600;
  }

  th,
  td {
    vertical-align: middle;
    padding: 1rem;
    font-size: .8125rem;

    a {
      font-weight: 600;
      text-decoration: none;
      font-size: 0.9rem
    }
  }
}
